{# <h1>{{ fields.categories | json_encode(constant('JSON_PRETTY_PRINT')) }}</h1> #}

{% if projectsLoop|length > 0 %}

<section class="relative pb-[100px]" id="projects">
    <div class="container mx-auto px-[15px]">
        <div class="mb-[50px]">
            <h2 class="capitalize font-[600] leading-[1.2] text-[45px]">
                {{ fields.title ?: " " }}
            </h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[50px]">
            {% for item in projectsLoop %}
                {% if loop.index <= 3 %}
                    <div>
                        <a href="{{ item.link ?: '#' }}" class="group flex flex-col gap-[25px]">
                            <img class="block w-full object-cover object-top rounded-[8px] border-[#DDD] border-[1px] group-hover:shadow-xl" src="{{ item.thumbnail.src | towebp ?: theme.link ~ '/assets/images/placeholder.png' }}" alt="Gazolin" style="aspect-ratio: 2/1;">
                            <h4 class="text-[#2c3e50] group-hover:text-[#3498db] text-center text-[25px] font-[700] capitalize">
                                {{ item.title }}
                            </h4>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if projectsLoop|length > 3 %}
            <div class="flex items-center justify-center mt-[50px]">
                <a class="btn-1 btn-3" href="{{ site.link }}/category/{{ fields.categories.slug }}"><span>See More</span></a>
            </div>
        {% endif %}
    </div>
</section>

{% endif %}
