{# :: All Navbar #}
<section id="nav-bar-content">
	<nav class="nav-bar bg-[#FFF] z-[99999] fixed left-0 right-0 top-0">
		<div class="container mx-auto px-[15px]">
			<div class="flex flex-wrap items-center justify-between">
				<div class="w-[100%] lg:w-auto">
					<div class="py-[25px] flex items-center justify-between">
						<a class="inline-block max-w-[100px]" href="{{site.link}}">
							<img loading="lazy" src="{{ options.logo.url|towebp ?: 'https://via.placeholder.com/200x100.webp' }}" alt="{{site.title}}">
						</a>
						<div class="cursor-pointer open-nav-bar group lg:hidden">
							<span class="h-[3px] w-[30px] bg-[#2c3e50] group-hover:bg-[#3498db] block rounded"></span>
							<span class="h-[3px] w-[30px] bg-[#2c3e50] group-hover:bg-[#3498db] block my-1 rounded"></span>
							<span class="h-[3px] w-[30px] bg-[#2c3e50] group-hover:bg-[#3498db] block rounded"></span>
						</div>
					</div>
				</div>
				<div class="nav-bar-menu w-[100%] bg-[#2c3e50] max-h-[300px] lg:bg-[transparent] lg:max-h-auto hidden rounded lg:flex lg:w-auto">
					<div class="content">
						<div class="w-full">
							<div class="hidden top">
								<a class="py-[25px] leading-[1] text-[#2c3e50] hover:text-[#3498db] inline-block text-2xl font-bold capitalize" href="{{site.link}}">
									<img class="max-w-[100px]" loading="lazy" src="{{ options.logo.url|towebp ?: 'https://via.placeholder.com/200x100.webp' }}" alt="{{site.title}}">
								</a>
								<div class="cancel-nav-bar-2 group ml-[30px] inline-block cursor-pointer xl:hidden">
									<svg class="w-[20px] h-[20px] fill-[#2c3e50] hover:fill-[#3498db]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 329.269 329">
										<path d="M194.8 164.77 323.013 36.555c8.343-8.34 8.343-21.825 0-30.164-8.34-8.34-21.825-8.34-30.164 0L164.633 134.605 36.422 6.391c-8.344-8.34-21.824-8.34-30.164 0-8.344 8.34-8.344 21.824 0 30.164l128.21 128.215L6.259 292.984c-8.344 8.34-8.344 21.825 0 30.164a21.266 21.266 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25l128.21-128.214 128.216 128.214a21.273 21.273 0 0 0 15.082 6.25c5.46 0 10.922-2.09 15.082-6.25 8.343-8.34 8.343-21.824 0-30.164zm0 0"></path>
									</svg>
								</div>
							</div>
							<ul class="list w-[100%] pr-[30px] lg:pr-[0px] block lg:flex lg:items-center lg:w-auto lg:overflow-y-visible">
								{% for item in options.navbar_links %}
									<li class="group mr-[20px] group relative block lg:inline-flex{% if item.menu %} HasDropdownList{% endif %}">
										<a href="{{ item.link.url ?: "#" }}" class="text-[#2c3e50] py-[12px] text-[15px] hover:text-[#3498db] lg:py-[27px] relative inline-block font-semibold capitalize">
											{{ item.link.title ?: "Title Linke" }}
											{% if item.menu %}
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] inline-block ml-2" width="14" height="14" viewbox="0 0 512 512">
													<path d="M506.157 132.386c-7.803-7.819-20.465-7.831-28.285-.029l-207.73 207.299c-7.799 7.798-20.486 7.797-28.299-.015L34.128 132.357c-7.819-7.803-20.481-7.79-28.285.029-7.802 7.819-7.789 20.482.029 28.284l207.701 207.27c11.701 11.699 27.066 17.547 42.433 17.547 15.358 0 30.719-5.846 42.405-17.533L506.128 160.67c7.818-7.802 7.831-20.465.029-28.284z"></path>
												</svg>
											{% endif %}
										</a>
										{% if item.menu %}
											<ul class="level-2 bg-[#FFE6E6] min-w-[max-content] py-[30px] top-[100%] after:content-[''] after:border-[13px] after:border-[#FFE6E6] after:border-l-[transparent] after:border-t-[transparent] after:border-r-[transparent] after:top-[-24px] after:left-[30px] lg:group-hover:opacity-100 lg:group-hover:visible lg:group-hover:translate-y-0 after:absolute relative left-0 group-hover:block hidden after:rounded rounded-lg lg:absolute lg:block lg:opacity-0 lg:invisible lg:translate-y-6 HasDropdownListContent">
												{% for item_2 in item.menu %}
													<li>
														<a href="{{ item_2.link.url ?: "#" }}" class="px-[15px] mx-[25px] text-[#2c3e50] hover:text-[#FFF] text-[14px] hover:bg-[#3498db] leading-[3] relative block font-medium rounded-md">
															{{ item_2.link.title ?: "Title Linke" }}
														</a>
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="hidden end">
							<div>
								<ul class="m-[40px] flex items-center mb-0 gap-[20px]">
									{% if options.facebook %}
										<li class="group">
											<a href="{{ options.facebook.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 155.139 155.139">
													<path d="M89.584 155.139V84.378h23.742l3.562-27.585H89.584V39.184c0-7.984 2.208-13.425 13.67-13.425l14.595-.006V1.08C115.325.752 106.661 0 96.577 0 75.52 0 61.104 12.853 61.104 36.452v20.341H37.29v27.585h23.814v70.761h28.48z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.twitter %}
										<li class="group">
											<a href="{{ options.twitter.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 1226.37 1226.37">
													<path d="M727.348 519.284 1174.075 0h-105.86L680.322 450.887 370.513 0H13.185l468.492 681.821L13.185 1226.37h105.866l409.625-476.152 327.181 476.152h357.328L727.322 519.284zM582.35 687.828l-47.468-67.894-377.686-540.24H319.8l304.797 435.991 47.468 67.894 396.2 566.721H905.661L582.35 687.854z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.linkedin %}
										<li class="group">
											<a href="{{ options.linkedin.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 100">
													<path d="M90 90V60.7c0-14.4-3.1-25.4-19.9-25.4-8.1 0-13.5 4.4-15.7 8.6h-.2v-7.3H38.3V90h16.6V63.5c0-7 1.3-13.7 9.9-13.7 8.5 0 8.6 7.9 8.6 14.1v26H90zM11.3 36.6h16.6V90H11.3zM19.6 10c-5.3 0-9.6 4.3-9.6 9.6s4.3 9.7 9.6 9.7 9.6-4.4 9.6-9.7-4.3-9.6-9.6-9.6z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.instagram %}
										<li class="group">
											<a href="{{ options.instagram.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 511 511.9">
													<path d="M510.95 150.5c-1.2-27.2-5.598-45.898-11.9-62.102-6.5-17.199-16.5-32.597-29.6-45.398-12.802-13-28.302-23.102-45.302-29.5-16.296-6.3-34.898-10.7-62.097-11.898C334.648.3 325.949 0 256.449 0s-78.199.3-105.5 1.5c-27.199 1.2-45.898 5.602-62.097 11.898-17.204 6.5-32.602 16.5-45.403 29.602-13 12.8-23.097 28.3-29.5 45.3-6.3 16.302-10.699 34.9-11.898 62.098C.75 177.801.449 186.5.449 256s.301 78.2 1.5 105.5c1.2 27.2 5.602 45.898 11.903 62.102 6.5 17.199 16.597 32.597 29.597 45.398 12.801 13 28.301 23.102 45.301 29.5 16.3 6.3 34.898 10.7 62.102 11.898 27.296 1.204 36 1.5 105.5 1.5s78.199-.296 105.5-1.5c27.199-1.199 45.898-5.597 62.097-11.898a130.934 130.934 0 0 0 74.903-74.898c6.296-16.301 10.699-34.903 11.898-62.102 1.2-27.3 1.5-36 1.5-105.5s-.102-78.2-1.3-105.5zm-46.098 209c-1.102 25-5.301 38.5-8.801 47.5-8.602 22.3-26.301 40-48.602 48.602-9 3.5-22.597 7.699-47.5 8.796-27 1.204-35.097 1.5-103.398 1.5s-76.5-.296-103.403-1.5c-25-1.097-38.5-5.296-47.5-8.796C94.551 451.5 84.45 445 76.25 436.5c-8.5-8.3-15-18.3-19.102-29.398-3.5-9-7.699-22.602-8.796-47.5-1.204-27-1.5-35.102-1.5-103.403s.296-76.5 1.5-103.398c1.097-25 5.296-38.5 8.796-47.5C61.25 94.199 67.75 84.1 76.352 75.898c8.296-8.5 18.296-15 29.398-19.097 9-3.5 22.602-7.7 47.5-8.801 27-1.2 35.102-1.5 103.398-1.5 68.403 0 76.5.3 103.403 1.5 25 1.102 38.5 5.3 47.5 8.8 11.097 4.098 21.199 10.598 29.398 19.098 8.5 8.301 15 18.301 19.102 29.403 3.5 9 7.699 22.597 8.8 47.5 1.2 27 1.5 35.097 1.5 103.398s-.3 76.301-1.5 103.301zm0 0"></path>
													<path d="M256.45 124.5c-72.598 0-131.5 58.898-131.5 131.5s58.902 131.5 131.5 131.5c72.6 0 131.5-58.898 131.5-131.5s-58.9-131.5-131.5-131.5zm0 216.8c-47.098 0-85.302-38.198-85.302-85.3s38.204-85.3 85.301-85.3c47.102 0 85.301 38.198 85.301 85.3s-38.2 85.3-85.3 85.3zM423.852 119.3c0 16.954-13.747 30.7-30.704 30.7-16.953 0-30.699-13.746-30.699-30.7 0-16.956 13.746-30.698 30.7-30.698 16.956 0 30.703 13.742 30.703 30.699zm0 0"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.behance %}
										<li class="group">
											<a href="{{ options.behance.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 511.958 511.958">
													<path d="M210.624 240.619c10.624-5.344 18.656-11.296 24.16-17.728 9.792-11.584 14.624-26.944 14.624-45.984 0-18.528-4.832-34.368-14.496-47.648-16.128-21.632-43.424-32.704-82.016-33.28H0v312.096h142.56c16.064 0 30.944-1.376 44.704-4.192 13.76-2.848 25.664-8.064 35.744-15.68 8.96-6.624 16.448-14.848 22.4-24.544 9.408-14.656 14.112-31.264 14.112-49.76 0-17.92-4.128-33.184-12.32-45.728-8.288-12.544-20.448-21.728-36.576-27.552zM63.072 150.187h68.864c15.136 0 27.616 1.632 37.408 4.864 11.328 4.704 16.992 14.272 16.992 28.864 0 13.088-4.32 22.24-12.864 27.392-8.608 5.152-19.776 7.744-33.472 7.744H63.072v-68.864zm108.896 198.24c-7.616 3.68-18.336 5.504-32.064 5.504H63.072v-83.232h77.888c13.568.096 24.128 1.888 31.68 5.248 13.44 6.08 20.128 17.216 20.128 33.504 0 19.2-6.912 32.128-20.8 38.976zM327.168 110.539h135.584v38.848H327.168zM509.856 263.851c-2.816-18.08-9.024-33.984-18.688-47.712-10.592-15.552-24.032-26.944-40.384-34.144-16.288-7.232-34.624-10.848-55.04-10.816-34.272 0-62.112 10.72-83.648 32-21.472 21.344-32.224 52.032-32.224 92.032 0 42.656 11.872 73.472 35.744 92.384 23.776 18.944 51.232 28.384 82.4 28.384 37.728 0 67.072-11.232 88.032-33.632 13.408-14.144 20.992-28.064 22.656-41.728H446.24c-3.616 6.752-7.808 12.032-12.608 15.872-8.704 7.04-20.032 10.56-33.92 10.56-13.216 0-24.416-2.912-33.76-8.704-15.424-9.28-23.488-25.536-24.512-48.672h170.464c.256-19.936-.384-35.264-2.048-45.824zm-166.88 5.984c2.24-15.008 7.68-26.912 16.32-35.712 8.64-8.768 20.864-13.184 36.512-13.216 14.432 0 26.496 4.128 36.32 12.416 9.696 8.352 15.168 20.48 16.288 36.512h-105.44z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.youtube %}
										<li class="group">
											<a href="{{ options.youtube.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 512 512">
													<path d="M506.89 360.392S495.388 400.125 480.027 416c-19.464 20.844-42.788 25.266-52.805 26.484-3.282.25-6.673.461-10.064.672l-.016-.141c-4.47.359-9.063-.984-12.471-4.406-6.212-6.188-6.212-16.258 0-22.445 2.813-2.82 6.462-4.164 10.135-4.43l-.016-.18c.539-.039 1.109-.07 1.633-.109 8.29-1.008 26.355-1.094 42.491-18.319 12.721-13.109 16.846-42.891 16.846-42.891s4.235-34.961 4.235-69.921v-48.801c0-34.96-4.235-69.944-4.235-69.944s-4.125-29.777-16.846-42.89c-16.136-17.207-34.201-17.297-42.491-18.301-59.337-4.375-160.438-4.359-160.438-4.359s-101.086-.016-160.423 4.359c-8.291 1.004-26.355 1.094-42.483 18.301-12.705 13.113-16.847 42.89-16.847 42.89-.008 0-4.235 34.984-4.235 69.944v48.801c0 34.96 4.235 69.921 4.235 69.921-.008 0 4.142 29.781 16.847 42.891 16.127 17.226 37.318 16.687 46.757 18.483C133.763 414.922 255.984 416 255.984 416c8.845 0 16.002 7.172 16.002 16 0 8.844-7.157 16-16.002 16-.266 0-.523-.047-.789-.062-10.103-.109-126.113-1.406-165.283-5.258-11.392-2.195-38.467-5.836-57.954-26.68-15.362-15.875-26.84-55.608-26.84-55.608S0 326.071 0 283.736v-55.683c0-42.336 5.118-76.671 5.118-76.671s11.478-39.503 26.84-55.363c19.487-20.843 42.795-25.507 52.805-26.726C156.422 64 255.891 64 255.891 64h.219s99.469 0 171.112 5.293c10.017 1.219 33.341 5.883 52.805 26.726 15.361 15.859 26.863 55.363 26.863 55.363s5.11 34.335 5.11 76.671v55.683c0 42.335-5.11 76.656-5.11 76.656zM320.002 416c8.845 0 16.002 7.172 16.002 16 0 8.844-7.157 16-16.002 16S304 440.844 304 432c0-8.828 7.157-16 16.002-16zm-71.534-81.858-.148.078c-2.368 1.438-5.11 2.297-8.072 2.297-8.697 0-15.752-7.055-15.752-15.75 0-6.062 3.461-11.266 8.486-13.905l-.016-.016 81.614-43.523c-.047-.039-.18-.07-.102-.109a7.998 7.998 0 0 0 4.517-7.211c0-2.906-1.609-5.453-3.931-6.836l-95.538-51.054a7.714 7.714 0 0 0-3.532-.844c-4.274 0-7.681 3.355-7.916 7.535l.016 99.042h-.125c0 .055.023.109.023.164 0 8.843-7.181 15.999-16.01 15.999-8.845 0-16.002-7.156-16.002-15.999V192.569c0-17.976 14.588-32.558 32.567-32.558a32.35 32.35 0 0 1 16.792 4.664c.195.105.266.07.43.141l110.376 63.597c2.336 1.363 4.492 2.976 6.485 4.968 12.502 12.504 12.502 32.762 0 45.262-1.837 1.828-3.86 3.359-5.978 4.664l-87.537 50.444c-.218.141-.436.25-.647.391z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
									{% if options.dribbble %}
										<li class="group">
											<a href="{{ options.dribbble.url ?: "#" }}">
												<svg class="fill-[#2c3e50] group-hover:fill-[#3498db] w-[22px] h-[22px]" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 512.086 512.086">
													<path d="M98.42 96.886 75.924 74.134a257.423 257.423 0 0 0-22.592 25.6l25.312 19.504A228.397 228.397 0 0 1 98.42 96.886z"></path>
													<path d="M384.043 34.319A256.006 256.006 0 0 0 256.052.022a253.596 253.596 0 0 0-154.384 51.792l19.312 25.504a223.796 223.796 0 0 1 46.864-27.312 919.731 919.731 0 0 1 78.784 140.8c-4.16 1.68-8.256 3.504-12.48 5.04a383.746 383.746 0 0 1-43.008 12.912l7.376 31.12a412.936 412.936 0 0 0 46.576-13.968c4.8-1.744 9.408-3.792 14.112-5.696a895.886 895.886 0 0 1 22.256 61.152c-4.8 1.6-9.68 2.96-14.4 4.704A413.3 413.3 0 0 0 92.18 408.15a222.931 222.931 0 0 1-60.128-152.128c0-3.696.176-7.376.368-11.056a411.106 411.106 0 0 0 67.2 6.144l.272-32a380.986 380.986 0 0 1-63.6-6 222.738 222.738 0 0 1 25.728-69.088l-27.68-16c-70.692 122.443-28.74 279.01 93.702 349.703 122.443 70.692 279.01 28.74 349.703-93.703s28.741-279.01-93.702-349.703zM275.796 177.622a949.31 949.31 0 0 0-76.544-138.288 225.356 225.356 0 0 1 56.8-7.312A222.819 222.819 0 0 1 396.66 81.894a380.306 380.306 0 0 1-120.864 95.728zm-19.744 302.4a222.819 222.819 0 0 1-140.608-49.872A381.719 381.719 0 0 1 277.94 316.166c4.224-1.6 8.528-2.768 12.8-4.16a918.485 918.485 0 0 1 30.144 158.4 223.003 223.003 0 0 1-64.832 9.616zm95.728-21.792a949.725 949.725 0 0 0-30.24-154.88 380.335 380.335 0 0 1 154.272-4.288c-13.826 69.694-59.829 128.729-124.032 159.168zm-39.504-185.52v-.08a915.31 915.31 0 0 0-23.872-65.6 412.056 412.056 0 0 0 131.568-103.168 222.932 222.932 0 0 1 60.08 152.16c0 3.776-.384 7.472-.56 11.2a412.207 412.207 0 0 0-167.216 5.488z"></path>
													<path d="M161.012 214.678c-10.112 1.6-20.368 2.736-30.512 3.472l2.352 31.904a413.64 413.64 0 0 0 33.088-3.744l-4.928-31.632z"></path>
												</svg>
											</a>
										</li>
									{% endif %}
								</ul>
							</div>
							<div>
								<div class="copyright text-[15px] p-[40px] pb-[60px] font-bold capitalize">{{ options.copyright ?: '© 2024 All Rights Reserved by AR-Coder.' }}</div>
							</div>
						</div>
					</div>
					<span class="cancel-nav-bar"></span>
				</div>
				{% if options.navbar_btns %}
					<div class="order-2 hidden xl:inline-flex xl:order-1">
						<!-- :: Tools Navbar -->
						<ul class="flex items-center gap-[16px]">
							{% for item in options.navbar_btns %}
								<li>
									<a class="w-full btn-ar-coder style-{{ item.style_number }}" href="{{ item.link.url ?: "#" }}">
										<span>
											{{ item.link.title ?: "Title" }}
											{% if item.svg %}
												{{ item.svg ?: '<svg width="20" height="13" viewBox="0 0 20 13" xmlns="http://www.w3.org/2000/svg"><path d="M7 13L5.6 11.6L7.35 9.8C5.21667 9.51667 3.45833 8.93333 2.075 8.05C0.691667 7.16667 0 6.15 0 5C0 3.61667 0.9625 2.4375 2.8875 1.4625C4.8125 0.4875 7.18333 0 10 0C12.8167 0 15.1875 0.4875 17.1125 1.4625C19.0375 2.4375 20 3.61667 20 5C20 6.03333 19.4458 6.95833 18.3375 7.775C17.2292 8.59167 15.7833 9.2 14 9.6V7.55C15.2833 7.21667 16.2708 6.80417 16.9625 6.3125C17.6542 5.82083 18 5.38333 18 5C18 4.46667 17.2875 3.83333 15.8625 3.1C14.4375 2.36667 12.4833 2 10 2C7.51667 2 5.5625 2.36667 4.1375 3.1C2.7125 3.83333 2 4.46667 2 5C2 5.4 2.425 5.87917 3.275 6.4375C4.125 6.99583 5.33333 7.41667 6.9 7.7L5.6 6.4L7 5L11 9L7 13Z"></path></svg>' }}
											{% endif %}
										</span>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
</section>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		var NavbarHeight = document.querySelector(".nav-bar").offsetHeight;
		document.getElementById("nav-bar-content").style.paddingTop = `${NavbarHeight}px`;
	});
</script>